<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => Job %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:organization) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:skills) %></th>
      <th><%= model_class.human_attribute_name(:experience) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |user_job| %>
      <tr>
        <td><%= user_job.job.id %></td>
        <td><%= user_job.job.title %></td>
        <td><%= user_job.job.organization %></td>
        <td><%= user_job.job.location %></td>
        <td><%= user_job.job.skills %></td>
        <td><%= user_job.job.experience %></td>
        <td>
          <%= link_to 'Show', job_path(user_job.job), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_path,
            :class => 'btn btn-primary' %>
